.jkTitle {
    margin: 2vh auto;
}


.jk_choice {
    width: 18vw;
    height: 18vw;
    margin-left: 3vw;
    background-color: #FFF !important;
}

.jk_rock {
    background: url('../img/rock2.png') no-repeat;
    background-size: cover !important;
}

.jk_scissors {
    background: url('../img/scissors2.png') no-repeat;
    background-size: cover !important;
}

.jk_paper {
    background: url('../img/paper2.png') no-repeat;
    background-size: cover !important;
}

.fixed_image {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 50%; /* sets the top of the image 50% of the page height */
    left: 50%; /* sets the left side of the image 50% across the page */
    width: 500px;
    margin-left: -250px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -193px; /* moves the image half its height 'up' the page */
    box-shadow: 0.5em 0.5em 0.7em #333; /* to give the illusion of 'floating' */
    border-radius: 1em;
    background-color: #3498db;
}

.jk_selected {
    border: 10px solid black;
}

