#tttTitle {
    margin: 2vh auto;
}

.cell {
    height: 18vh;
    width: 18vh;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
}

.cell > img {
    height: 100%;
    vertical-align: middle;
}

.cross {
    background: url('../img/cross.png') no-repeat;
    background-size: cover !important;
}

.circle {
    background: url('../img/circle.png') no-repeat;
    background-size: cover !important;
}