#tttTitle {
    margin: 2vh auto;
}

.cell {
    height: 18vh;
    width: 18vh;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
}

.cell > img {
    height: 100%;
    vertical-align: middle;
}

.cross {
    background: url('../img/cross.png') no-repeat;
    background-size: cover !important;
}

.circle {
    background: url('../img/circle.png') no-repeat;
    background-size: cover !important;
}

.fixed_image {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 50%; /* sets the top of the image 50% of the page height */
    left: 50%; /* sets the left side of the image 50% across the page */
    width: 500px;
    margin-left: -250px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -193px; /* moves the image half its height 'up' the page */
    box-shadow: 0.5em 0.5em 0.7em #333; /* to give the illusion of 'floating' */
    border-radius: 1em;
    background-color: #3498db;
}